.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.more-button {
    @include button-style;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    padding: 0.5rem 0rem 1rem 0rem;
}

ul,
li,
a,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
