.contact-header {
    .page-cover{
    background-image: url(../assets/contact-image-1.jpg);
    }
}

.contact-main {
    .wrapper {
        display: flex;
        gap: 3rem;
    }
}

.socials-info {
    background-color: white;
    text-align: left;
    padding: 3rem;
    height: 20rem;
    .social-icons {
        display: flex;
        gap: 2rem;
        padding-bottom: 1rem;
        i {
            font-size: 1.5rem;
            color: $dark-green;
            transition: 0.3s;
            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }
    .email-link {
        font-weight: 700;
        color: $black;
    }
    .address {
        font-style: normal;
        padding-top: 1rem;
    }
}

