// Skip link to skip to main content, hidden unless focused
.skip-link {
    position: absolute;
    left: 50%;
    transform: translateY(-100%);
    transition: transform 0.3s;
    font-family: $body-font, sans-serif;
    background-color: $white;
    color: $black;
    z-index: $z-skiplink;
    height: 4rem;
    padding: 0.5rem;
}

.skip-link:focus {
    transform: translateY(0%);
}

// Header base

header {
    background-color: $dark-green;
}

// Hero

.home-hero {
    display: flex;
    justify-content: center;
    position: relative;
    .header-title {
        display: flex;
        align-items: center;
    }
    h1 {
    // using clamp to make the header font more fluid and responsive
        font-size: clamp(4rem,9vw,9rem);
        line-height: 0;
        position: relative;
        right: 9%;
    }
    .circle-text {
        position: relative;
        bottom: 1rem;
        width: clamp(4rem, 9vw, 8rem);
    }
}

.portrait {
    position: relative;
    top: 4rem;
    right: 2%;
    width: clamp(16rem, 42vw, 34rem);
    img {
        box-shadow: 1.5rem 1.5rem white;
    }
}

// Pages


.page-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        text-align: left;
        padding-bottom: 1.9rem;
        max-width: 1260px;
        width: 90%;
        margin: 0 auto;
        line-height: 0;
    }
}

.pages-header {
    .wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
    }
}
