/* =========================
 *  Skip-link
 * ======================== */

// Skip link to skip to main content, hidden unless focused
.skip-link {
    position: absolute;
    left: 50%;
    // set at -150% as the text still shows on screen in very small screen sizes with -100%
    transform: translateY(-150%);
    transition: transform 0.3s;
    font-family: $body-font, sans-serif;
    background-color: $white;
    color: $black;
    z-index: $z-skiplink;
    height: 3rem;
    padding: 0.5rem;
}

.skip-link:focus {
    transform: translateY(0%);
}

/* =========================
 *  Homepage Header
 * ======================== */

header {
    background-color: $dark-green;
}

// Hero

.home-hero {
    display: flex;
    justify-content: center;
    position: relative;
    .header-title {
        display: flex;
        align-items: center;
    }
    h1 {
    // using clamp to make the header font more fluid and responsive
        font-size: clamp(3.5rem,9vw,9rem);
        line-height: 0;
        position: relative;
        right: 9%;
    }
    .circle-text {
        position: relative;
        bottom: 1rem;
        width: clamp(3.5rem, 9vw, 9rem);
    }
}

.portrait {
    position: relative;
    top: 4rem;
    right: 2%;
    width: clamp(16rem, 42vw, 32rem);
    img {
        box-shadow: 1rem 1rem white;
    }
}

/* =========================
 *  Pages Header
 * ======================== */

.page-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        text-align: left;
        padding-bottom: 1.9rem;
        max-width: 1260px;
        width: 90%;
        margin: 0 auto;
        line-height: 0;
    }
}

// Contact page
.contact-header {
    .page-cover {
        background-image: url(../assets/contact-image-1.jpg);
    }
}

// Blog page
.blog-header {
    .page-cover {
        background-image: url(../assets/blog-image-1.jpg);
    }
}


