// Skip link to skip to main content, hidden unless focused
.skip-link {
    position: absolute;
    left: 10%;
    top: -10%;
    transform: translateY(-100%);
    transition: transform 0.3s;
    font-family: $body-font, sans-serif;
    background-color: $black;
    color: $white;
    z-index: 10;
    height: 3rem;
    padding: 0.5rem;
}

.skip-link:focus {
    transform: translateY(0%);
}

// Header base

header {
    background-color: $dark-green;
}

// Hero

.home-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
    font-size: 8vw;
    // position: relative;
    // right: 18%;
    // line-height: 4.75;
    // margin: 0;
    // .circle-text {
    //     // position: absolute;
    //     // top: 15rem;
    //     // left: 16rem;
    // }
    }
}

.portrait {
    top: 3rem;
    right: 1rem;
    display: inline-block;
    img {
        // position: absolute;
        box-shadow: 1.5rem 1.5rem white;
    }
}

// Pages


.page-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        text-align: left;
        padding-bottom: 1.9rem;
        max-width: 1260px;
        width: 90%;
        margin: 0 auto;
        line-height: 0;
    }
}

.pages-header {
    .wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
    }
}
