// 3 breakpoints determined based on design/ content: 600px, 900px & 1160px

/* =========================
 *  Break-point: 600px
 * ======================== */

@media (max-width: 600px){

    // HOME - Blog Posts Section
    .blogpost {
        .blogpost-one {
            padding-top: 6rem;
            .img-container {
                bottom: 0;
                left: 0;
            }
            .img-container::after {
                width: 100%;
            }
        }
    .blogpost-two {
        gap: 0;
        .img-container {
            top: 0;
            right: 0;
        }
        .img-container::after {
            width: 100%;
        }
    }
}
    
    // HOME - Gallery Section

    .slideshow {
        flex-direction: column;
        img {
            width: 100%;
        }
    }

    // BLOG page
    .blog-about {
        flex-direction: column;
        text-align: center;
    }

    .comments {
        .content-box {
            flex-direction: column;
        }
    }

    // CONTACT page
    .name-email {
        flex-direction: column;
    }

}

/* =========================
 *  Break-point: 900px
 * ======================== */

@media (max-width: 900px) {
    
    // HOME - Header Section
    // set min header height & header font

    .home-header {
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .home-hero {
                h1 {
                    font-size: clamp(3.6rem, 12vw, 9rem);
                }
                .circle-text {
                    width: clamp(3.6rem, 12vw, 9rem);
                }
                .portrait {
                    top: 2rem;
                }
            }
        }
    }

    .home-hero {
        flex-direction: column;
        align-items: center;
    }

    // hide desktop nav

    .main-nav {
        display: none;
    }

    // show side nav

    .home-header, .pages-header {
        .side-nav {
            display: block;
        }
    }   
    
    // HOME - Story Section

    .story {
        .wrapper {
            flex-direction: column;
            .img-container {
                display: flex;
                justify-content: center;
                padding-bottom: 6rem;
                img {
                    width: auto;
                }
            }
            .text-container {
                text-align: center;
            }
        }
    }    

    // HOME - Features Section

    .features {
        .feature-list {
            flex-direction: column;
            text-align: center;
            p {
                padding: 0;
            }
            .category-name {
                justify-content: center;
            }
            .feature-item {
                width: 100%;
            }
        }
    }

    // CONTACT/ BLOG pages

    .page-main {
        .wrapper {
            flex-direction: column-reverse;
        }
        .socials-info {
            text-align: center;
            .social-icons {
                justify-content: center;
            }
        }
    }

    .blog-about {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        .img-container {
            flex: 1;
        }
        .text-container {
            flex: 1;
        }
    }

    .pages-header {
        .page-cover {
            h1 {
                line-height: 1;
                text-align: center;
            }
        }
    }
}

/* =========================
 *  Break-point: 1160px
 * ======================== */

@media (max-width: 1160px) {

    // HOME - Blogpost Section

    .blog {
        align-items: center;
    }
    .blogpost-one {
        flex-direction: column;
        .text-container {
            text-align: center;
        }  
    }
    .blogpost-two {
        flex-direction: column-reverse;
        .text-container {
            text-align: center;
            margin: 3.5rem 0rem 6.5rem 0rem;
        }
    }
}

