// Slide-out Nav

.side-nav {
    display: none;
}

input[type=checkbox]{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    &:checked ~ .slide-out-nav {
        transform: translateX(0%);
    }
}

.menu-button {
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 40;
    i {
        color: $white;
        font-size: 2.5rem;
    }
}

.slide-out-nav {
    background-color: $light-green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    opacity: 0.95;
    transform: translateX(100%);
    transition: 0.75s;
    a {
        font-size: 2rem;
    }
}

// Desktop Nav

.main-nav {
    position: sticky;
    top: 0;
    background-color: $dark-green;
    z-index: 40;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .logo {
        font-family: $heading-font, cursive;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        font-size: 2.625rem;
        &:hover,
        &:focus {
            color: $white;
        }
    }
    a {
        transition: 0.3s;
        &:hover,
        &:focus {
            color: $accent;
        }
    }
}

.nav-home {
    li:first-child a {
        color: $accent;
    }
}

.nav-contact {
    li:last-child a {
        color: $accent;
    }
}

.nav-blog {
    li:nth-child(4) a {
        color: $accent;
    }
}