/* =========================
 *  Slide-Out Nav
 * ======================== */

// 1. Hamburger Button

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    z-index: $z-hamburger;
}

span,
span::before,
span::after {
    display: block;
    position: absolute;
    height: 3px;
    background-color: $white;
    transition: all 300ms ease;
    width: 100%;
}

span::before {
    content: '';
    top: -8px;
}

span::after {
    content: '';
    top: 8px;
}
input[type=checkbox]{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}

// 2. Make secondary nagivation menu slide out when hamburger menu is clicked

.slide-out-menu:checked ~ .slide-out-nav {
    transform: translateX(0%);
}

.slide-out-menu:checked ~ .menu-button {
    span::before {
        transform: rotate(-90deg) translate(-8px, 0px);
        width: 100%;
    }

    span {
        transform: rotate(45deg);
        width: 100%;
    }

    span::after {
        transform: rotate(90deg) translate(-8px, 0px);
        width: 100%;
    }
}

// 3. Style the slide-out navigation menu and hide it when in desktop view (base state)

.side-nav {
    display: none;
}

.slide-out-nav {
    background-color: $light-green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-sidenav;
    opacity: 0.95;
    transform: translateX(100%);
    transition: 0.75s;
    a {
        font-size: 2rem;
    }
}

/* =========================
 *  Desktop Nav
 * ======================== */

.main-nav {
    background-color: $dark-green;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-mainnav;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    li {
        position: relative;
    }

    // Create underline animation when hovering over menu options

    li a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $accent;
        width: 0;
        height: 3px;
        left: 0;
        bottom: 0;
        transition: width 0.25s ease 0s;
    }

    li a:hover:not(.logo):after,
    li a:focus:not(.logo):after {
        width: 100%;
    }

    .logo {
        font-family: $heading-font, cursive;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        font-size: 2.625rem;
    }
}

// show current page highlighted in nav bar (when on home page)
.nav-home {
    li:first-child a {
        color: $accent;
    }
}

// show current page highlighted in nav bar (when on contact page)
.nav-contact {
    li:last-child a {
        color: $accent;
    }
}

// show current page highlighted in nav bar (when on blog page)
.nav-blog {
    li:nth-child(4) a {
        color: $accent;
    }
}