/* =========================
 *  Headers and paragraphs
 * ======================== */

h1, 
h2, 
h3, 
h4 {
    font-family: $heading-font, cursive;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}


h1 {
    font-size: clamp(3.5rem, 9vw, 5rem);
    line-height: 5.75;
    color: $white;
}

h2 {
    font-size: clamp(2.25rem, 3vw, 2.625rem);
    color: $black;
    line-height: 1;
}

h3 {
    font-size: clamp(1.75rem, 3vw, 2rem);
    color: $black;
}

h4 {
    font-size: 1.5rem;
    color: $black;
}

body {
    font-family: $body-font, sans-serif;
    font-weight: normal;
    font-size: clamp(1.125rem, 3vw, 1.25rem);
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0px;
    color: $black;
}

/* =========================
 *  Links & buttons
 * ======================== */

.nav-links a {
    font-family: $body-font, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: right;
    line-height: 1.8125;
    letter-spacing: 0.0625rem;
    color: $white;
}

.more-button, button {
    font-family: $heading-font, cursive;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-size: 1.25rem;
    text-align: center;
    line-height: 2rem;
    color: $black;
}

