/* =========================
 *  Font family
 * ======================== */

$heading-font: 'Abril Fatface';
$body-font: 'Montserrat';

/* =========================
 *  Font colors
 * ======================== */

$accent: #e4a436;
$light-green: #709b6b;
$dark-green: #345231;
$black: #1f1f1f;
$white: #f6f6f6;

/* =========================
 *  Z-index values
 * ======================== */
 
$z-skiplink: 50;
$z-hamburger: 40;
$z-sidenav: 30;
$z-shadow: 10;
$z-img: 20;
$z-mainnav: 40;